<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>500 Internal Server Error</title>
        <link rel="stylesheet" href="/assets/style.css">
        <!-- <style type="text/css" media="screen">
            h1{
                /* font-weight: 700; */
                font-size: 200px;
                margin: 0%;
                padding: 0%;
                color: red;
            }
            h2 {
                /* font-weight: 400; */
                margin: 0%;
                padding: 0%;
                font-size: 100px;
                color: black;
            }
            </style> -->
    </head>


    <body>

<div class="container">
<center>
    <h1 class="errh1">500</h1>
    <h2 class="errh2">Internal Server Error</h2>
    <a href="/">Go To Homepage</a>
</center>
</div>

    </body>
</html>